.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: #f2f2f2;
}
.footer__column-link:nth-of-type(3n) {
  margin-bottom: 16px;
}
.footer__column-link:hover {
  opacity: 0.4;
  transition: 1s linear 0.1s;
}
